<h1>Exhibitions</h1>
	<table>
		<tr>
			<th>Title</th>
			<th>Summary</th>
			<th></th>
			<th></th>
			
		</tr>
		<% @exhibitions.each do |exhibition| %>
		 <tr>
		 	
		 	<td><%= exhibition.name %></td>
		 	
		 	<td>|<%= exhibition.description %></td>
		 	
		 	<td><%= link_to "Show", exhibition_path(exhibition) %></td>
  			 
  			</tr>			
 		<% end %>
	</table>

	<br>
	<br>

	


