<h1>Exhibitions</h1>
	
		<% if @exhibitions.empty? %>
		No Exhibitions Found
		<% else %>
		<table>
		<tr>
			<th>Title</th>
			<th>Summary</th>
		</tr>
		<% @exhibitions.each do |exhibition| %>
		<tr>
		 	<td><%= exhibition.name.capitalize %></td> 
		 	<td> - <%= exhibition.description %> | <%= link_to "Show", exhibition_path(exhibition) %></td>
  		</tr>
  		<% end %>			
 		<% end %>
	</table>


	


