<%= link_to "Add New Exhibition", new_exhibition_path %>

<ul>
	<br>
<% @exhibitions.each do |exhibition| %>
  <li><%= link_to exhibition.name, exhibition_path(exhibition) %></li>
  Dates:
<% end %>
</ul>
<br>
