<h1>Add a New Exhibition</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <br>
  <%= render 'form' %>
  </div>
</div>

<!-- %= link_to 'Back to exhibition', exhibitions_path %>-->


	<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
 
      var values = $(this).serialize();
 
      var posting = $.exhibition('/exhibitions', values);
 
      posting.done(function(data) {
        var post = data;
        $("#exhibitionTitle").text(exhibition["name"]);
        $("#exhibitionBody").text(exhibition["description"]);
      });
    });
  });
</script>