<p id="notice"><%= notice %></p>

<% if @message %>
  	<div class="center alert">
    	<p><%= @message %></p>
  </div>
<% end %>



  	<div class="info">
   
      	<p><strong>ADMIN</strong></p>
   
    	<p><strong>Name:</strong> </p>
    
    </div>
</div>