<div class="right-info">
    <h1>Welcome to the StArt!</h1>
    <div class="center">
      
      <%= link_to "Sign up", new_user_path %>
      <br>

      <%= link_to("login with facebook!", "/auth/facebook") %>
      <br>
    </div>
  </div>

</div>