<div class="center-info">
    <h1>Welcome to St.Art App</h1>
    <h2>St.Art app will be offering an exciting list of exhibitions that will highlight contemporary and traditional art and exciting cultural events in New York City.</h2>
</div>