<div class="center-info">
    <h1>Welcome to the St.Art App</h1>
    <div class="center">
      
      <%= link_to "Log in", '#' %> or <%= link_to "Sign up", new_user_path %>
     
      <br>

      <%= link_to("Login with Facebook", "/auth/facebook") %> | 
      <%= link_to("Login with Github", "/auth/github") %>
      <br>
    </div>
  </div>

</div>